pywhispercpp
librosa
soundfile
django
djangorestframework
django-cors-headers
langgraph
langchain-groq
langchain
langchain-community
groq
playwright
pymongo
neo4j
python-dotenv
pydantic
openai-whisper
torch
numpy
scipy
sounddevice
pydub
keras>=3.0
jax[cpu]
huggingface_hub
